
.form-control{
    margin-top: 15px;
}
.for{
    position: absolute;
    right: 30px;
    width: 0px;
    margin-top: 5px;
}
#sd{
    position: absolute;
    right: 0px;
    margin-top: 5px;
    height: 10px;
}
#po{
   
    margin: 0%;
}
#pp{
    margin: 0%;
    width: 1280px;
    left: 0%;
    right: 0%;
}